exportClasses(SeqData)
exportMethods("annotationFile<-")
exportMethods("bamFile<-")
exportMethods("chrSize<-")
exportMethods("coverageViews<-")
exportMethods("featureAnnotation<-")
exportMethods("libSize<-")
exportMethods("readAlignment<-")
exportMethods("readCoverage<-")
exportMethods(annotatePeaks)
exportMethods(annotationFile)
exportMethods(bamFile)
exportMethods(chrSize)
exportMethods(countReads)
exportMethods(coverageView)
exportMethods(coverageViews)
exportMethods(featureAnnotation)
exportMethods(findPeaks)
exportMethods(getFeatureAnnotation)
exportMethods(getReadAlignment)
exportMethods(getReadCoverage)
exportMethods(intersectChr)
exportMethods(libSize)
exportMethods(readAlignment)
exportMethods(readCoverage)
exportMethods(viewCoverage)
import(GenomicRanges)
import(IRanges)
